* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(
      rgba(212, 163, 115, 0.55),
      rgba(212, 163, 115, 0.55)
    ),
    url(images/header-image.png) no-repeat top center;
  background-size: contain;
}

/* Nav: */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
  background-color: #fefae0;
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

nav a:hover {
  color: #d4a373;
}

/* Main section: */
#main {
  height: 105vh;
  background-size: cover;
  text-align: center;
  color: #fefae0;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About me: */

#about {
  display: flex;
  background-color: #ccd5ae;
}

#logo {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-bottom: 20px;
}

#logo img {
  height: 2.5rem;
}

#about-desc {
  padding: 5.5rem;
  font-size: 1.2rem;
}

#about h4 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

#about p {
  font-weight: 500;
  padding: 10px 0px;
}

#about button {
  background-color: #fefae0;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 15px 30px;
  margin-top: 2rem;
  border: none;
  border-radius: 50px;
}

#about button:hover {
  background-color: #d4a373;
  color: #fefae0;
  cursor: pointer;
}

/* Banner: */
#banner {
  text-align: center;
  padding: 50px;
  background-color: #fefae0;
  font-weight: 700;
  font-size: 1.3rem;
}

/* Project: */
#projects {
  text-align: center;
  font-weight: 700;
}

#project-cards {
  display: flex;
}

#project-cards > div {
  flex: 1;
}

#project-cards > div > a {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}

#malaga42 {
  background-image: url(images/42-image.png);
}

#robotica {
  background-image: url(images/robotica-image.png);
}

#ml-ai {
  background-image: url(images/ml-ai-image.png);
}

#malaga42::before,
#robotica::before,
#ml-ai::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(212, 163, 115, 0.4);
}

#malaga42:hover::before,
#robotica:hover::before,
#ml-ai:hover::before {
  background-color: rgba(212, 163, 115, 0.7);
}

/* Text above overlay: */
#malaga42 span,
#robotica span,
#ml-ai span {
  position: relative;
  z-index: 1;
}

@media (max-width: 900px) {
  #project-cards {
    flex-direction: column;
  }

  #project-cards > div > a {
    height: 300px;
  }
}

/* Contact: */
#banner2 {
  text-align: center;
  padding: 50px;
  background-color: #fefae0;
  font-weight: 700;
  font-size: 1.3rem;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  margin-bottom: 40px;
}

#contact {
  background: #ccd5ae;
}

.contact-wrapper {
  display: flex;
  padding: 50px 50px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: auto;
  flex-wrap: wrap;
}

.contact-text {
  flex: 1;
  min-width: 300px;
}

.contact-text h3 {
  letter-spacing: 2px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.contact-text p {
  line-height: 1.6;
  margin-bottom: 15px;
  font-weight: 500;
}

.contact-text ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.contact-text li {
  margin-bottom: 10px;
}

.contact-text a {
  color: #003366;
  text-decoration: underline;
}

.social-icons img {
  width: 45px;
  margin-left: 5px;
}

.contact-image img {
  width: 260px;
  border-radius: 20px;
}

@media (max-width: 800px) {
  .contact-wrapper {
    text-align: center;
  }

  .contact-image {
    margin-top: 20px;
  }
}

/* Footer: */
footer {
  text-align: center;
  padding: 50px;
  background-color: #d4a373;
  font-weight: 700;
  font-size: 1.3rem;
}
