@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 100px;
}
a {
  cursor: pointer;
}

/* ------ */
/* HEADER */
/* ------ */

header.sticky {
  background: #ffffff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header {
  background: #dbb192;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px; 
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease;
}
header.sticky .logo {
  color: #000000;
}
header .logo {
  color: #000000;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;  
}
header ul {
  position: relative;
  display : flex;  
}
header ul li {
  position: relative;
  list-style: none;
}

/* ------ */
/* BANNER */
/* ------ */

.banner {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #dbb192;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  margin-bottom: 30px;
}
.text-banner {
  text-align: center;
  padding: 20px;
}
.banner .text-banner h2 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}
.banner .text-banner h3 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

/* ----- */
/* IMAGE */
/* ----- */

img {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* ------------ */
/* WHITE HEADER */
/* ------------ */

.heading.white {
  color: #fff;
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}

/* -------- */
/* ABOUT ME */
/* -------- */

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contentbox {
  padding-right: 30px;
}
.contentbox h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.contentbox li {
  margin-left: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* -------- */
/* PROJECTS */
/* -------- */

.links {
  background: #dbb192;
  flex-direction: column;
}
.project {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.project .projectbox {
  padding: 50px 20px 20px 20px;
  color: #fff;
  width: 340px;
  height: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s ease;
  align-items: center;
  justify-content: space-between;
}
.project .projectbox .black {
  margin-top: 90px;
  background-color: #00000086;
  border: #dbb192 1px solid;
  text-align: center;
}
.project .projectbox .gray {
  margin-top: 90px;
  background-color: #44444486;
  border: #dbb192 1px solid;
  text-align: center;
}
.project .projectbox .blue {
  margin-top: 90px;
  background-color: #0f66b786;
  border: #dbb192 1px solid;
  text-align: center;
}
.project .projectbox h2 {
  font-size: 20px;
  font-weight: 600;
}
.projects .projectbox p {
  font-size: 15px;
}
.project-link {
  text-decoration: none;
  color: inherit;
}

/* -------------- */
/* PROJECT IMAGES */
/* -------------- */

.cluster {
  background-image: url('https://www.fundaciontelefonica.com/wp-content/uploads/2022/01/Cluster_42-image-2560x1410-1.jpg');
  background-size: cover;
  transition: 0.5s ease;
}
.uma {
  background-color: black;
  background-image: url('images/uma_racecar.png');
  background-position: center;
  background-size: cover;
}
.ia {
  background-image: url('https://images.pexels.com/photos/8386440/pexels-photo-8386440.jpeg');
  background-position: center;
  background-size: cover;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contactinfo {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.contactinfo .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.contactinfo .box .text {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}
.contactinfo .box .text h3 {
  font-weight: 500;
  color: #2196f3;
  margin-bottom: 0;
}
.email {
  text-decoration:underline;
  color: #fff;
}

/* ------------- */
/*Responsive part*/
/* ------------- */

@media (max-width: 991px) {
  header, header.sticky {
    padding: 20px 50px;
    z-index: 10;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width:100%;
    height: 100vh;
    background: #fff;
    transition: 0.6s ease;
    z-index: 9;
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  .menu.active {
    left: 0;
  }
  header ul li a {
    color: #111;
    margin: 10px;
    font-size: 24px;
  }
  .toggle:before {
    content: "\2630";
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
  .toggle.active:before {
    content: "\0002DF";
    width: 20px;
    height: 20px;
    font-size: 50px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 50px;
  }
  header.sticky .toggle {
    filter: invert(1);
  }
  header.sticky .toggle.active:before {
    position: absolute;
    top: 50%;
    right: 5px;
  }
  section {
    padding: 100px 50px;
  }
  .banner {
    padding: 150px 50px;
  }
  .banner h2, .banner h3 {
    font-size: 1em;
  }
  .heading h2 {
    font-weight: 600;
    font-size: 24px;
  }
  .contentbox h3 {
    font-size: 20px;
  }
  .content {
    flex-direction: column;
  }
  .w50 {
    margin-top: 20px;
  }
  .projects .content .projectsbox {
    height: 200px;
  }
  .contactinfo {
    margin: 20px 0;
  }
}
@media (max-width: 600px){
  header,
  header.sticky {
    padding: 20px 50px;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  section {
    padding: 100px 20px;
  }
}